<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="user" scope="singleton" class="com.hb.spring.pojo.User" init-method="initMethod" destroy-method="destroyMethod">
        <property name="id" value="1"></property>
        <property name="username" value="Jack"></property>
        <property name="password" value="hongbin1123"> </property>
        <property name="age" value="22"></property>
    </bean>

    <bean id="MyBeanPostProcessor"  class="com.hb.spring.process.MyBeanPostProcessor">

    </bean>
</beans>